.message {
    width: 300px;
    color: white;
    font-family: sans-serif;
    padding: 15px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: calc(100vh + 40px);
    transition-duration: 0.5s;
}